Summer Mersivity Symposium speakers schedule
<p>
Tue. Aug. 15, 10am, Michael Hough Beach, Ontario Place, West Island:
<ul>
<li>10am Olivia Chow to arrive by paddleboard, weather-permitting, to give intro.<br/>
<img width=360 src=figs/OliviaChow_and_SteveMann_paddling_at_OntarioPlace.jpg><br/>
<li>10:05am Mike Schreiner, Party leader of the Green Party of Ontario.
"Protecting outdoor public spaces, safeguarding equitable access to water
and freshwater preservation public trust."<br/>
<img width=160 src=biopics/Mike_Schreiner-2021_Wikimedia_cropped.jpg>(Photo from Wikipedia, user Sikander)
<li>10:15am Charles Rishor, Yachting Director, Boulevard Yacht Club.<br/>
<img width=160 src=biopics/CharlesRishor1628361163626.jpeg>
<li>Keith Rich, "I Love You" (first public release of original musical composition)<br/>
    <img width="160" src="biopics/Keith_underwater_cap_GX011475_00-02-19_14.jpg">
<li>1pm Chloe-Marie Brown, "Transforming spaces into cutting-edge research and education centers dedicated to climate change. 🌿
 ... innovative #wetlab at Ontario Place for protecting the #greatlakes 💡 ... implementing #Scientists-in-Residence programs 🏡✨"<br/>
        <img width="160" src="biopics/ChloeBrown.jpeg">
<li>1:30-145pm Ed Hore and Niv Froehlich will arrive together by kayak:<br/>
<li>1:30-1:45pm Ed Hore, founder, Waterfront for All<br/>
    <img width="160" src="biopics/EdHore_biopicture.jpeg">
<li>1:30-145pm Niv Froehlich, Director of Paddle Canada Stand Up Paddleboard &amp; Kayak Programs.  "Creating a Paddle-Friendly City"<br/>
<img width=160 src=biopics/Niv-Froehlich-Bio-Photo.jpg>
<li>Time TBD David Shellnutt, "The Biking Lawyer".<br/>
<img width=160 src=biopics/DavidShellnutt_bio_picture_CyhFRz15_400x400.jpg>
<li>Time TBD Ryan Janzen, founder, Transpod<br/><br/>
    <img width="160" src="biopics/HHSB_playing_Suite_for_Hydraulophone_c.jpg">
<li>Time TBD Leea Puntanen, "Open water community at Ontario Place"<br/>
<li>Time TBD Anne (Anya), "Call on Canada Green Building Council (CAGBC)..."
</ul>

