    /* Inline CSS for the menu */
    #dropdownMenu, a {
        display: inline-block; /* Makes the elements inline */
        vertical-align: middle; /* Aligns elements to the middle */
        margin: 0; /* Removes default margins */
        padding: 0; /* Removes default padding */
    }
    #menuItems {
        display: none; /* Keeps the dropdown hidden initially */
        position: absolute; /* Positions the dropdown absolutely */
        margin-top: 7px; /* Adds a small space between the dropdown and the menu bar */
    }
    #dropdownMenu:hover #menuItems {
        display: block; /* Shows the dropdown on hover */
    }
