<h2><tt><strong>Tue. Aug. 15, 10am, Michael Hough Beach, Ontario Place, West Island</strong></tt></h2>

<h3>Mersivity 2023 Symposium Makes Waves Regarding Toronto's Most Controversial Beach</h3>

FOR IMMEDIATE RELEASE
<p>
IEEE Water-Human-Computer-Interaction (WaterHCI) / Mersivity 2023 Symposium Set to Make Waves at Ontario's Most Controversial Beach.
<p>
ONTARIO PLACE, WEST ISLAND - The IEEE / WaterHCI / Mersivity 2023 Symposium is thrilled to announce its upcoming Symposium taking place Tuesday, August 15th, at Michael Hough Beach, Ontario Place, West Island. The symposium will commence at 10 am and promises to be a groundbreaking gathering of industry leaders, innovators, and enthusiasts advancing technology for humanity and the environment. The Symposium's location at Michael Hough Beach emphasizes the need to take responsibility for our most precious resource, water. This beach is at the center of a public/private battle over access to clean water, a critical issue that policy analyst and mayoral candidate Chloe Brown will be on hand to address. Learn more about the ongoing efforts to preserve clean water access at <a href="http://www.swimop.com/" target="_new">Swimop</a>, and join the fight to save the beach at <a href="http://www.savethebeach.ca/" target="_new">Save the Beach</a>.
<p>
Television and radio reporters can expect great audiovisuals from demos of cutting edge technologies designed to unleash the untapped potential of a city that host Steve Mann calls “the water capital of the world,” including Water-Human-Computer Interface goggles that help us connect to nature (e.g. underwater) rather than isolate us from nature, a novel computer interface for walking on water (see attached photograph), and the awe-inspiring hydraulophone, the world's first underwater musical instrument.
<p>
Mann is widely regarded as the father of wearable computing, inventor of HDR, co-inventor of XR (eXtended Reality), and co-founder of InteraXon, makers of the Muse brain-sensing headband, and the event is set to be a landmark in the field of water-human computer interaction. It is co-hosted by Yu Yuan, President of the IEEE Standards Association.
<p>
The symposium will feature a diverse and esteemed lineup of speakers and guests setting future standards at the nexus of nature, technology, and humanity, aiming to foster collaboration, innovation, and discussion around water-human computer interaction, wearable technology, and sustainable water practices, proposing U.OP = University of Ontario Place as the world's high-tech epicenter for WaterHCI research.
<p>
Speakers include:
<p>
10:00 am: Mike Schreiner, Party leader of the Green Party of Ontario, will kick off the event with his insights and vision on the importance of public space.
<p>
10:15 am: Charles Rishor, Yachting Director, Boulevard Yacht Club, will share his expertise on the importance of waterfronts.
<p>
Niv Froehlich, Director of Paddle Canada Stand Up Paddleboard & Kayak Programs, will present a talk entitled "Creating a Paddle-Friendly City".
<p>
David Shellnutt, known as "The Biking Lawyer," will discuss biking and its intersection with urban living and public access issues.
<p>
Jeff Archbold, B.Eng., M.A.Sc., Walters Forensic Engineering will discuss groundbreaking regulatory and water access rights issues faced by persons with disabilities.
<p>
Ryan Janzen, founder of Transpod (secured $500 million in funds) will present groundbreaking work on new forms of public transportation for waterfront cities.
<p>
Caitlin Fisher, Professor, Canada Research Chair (Digital Culture) will show an XR portal that takes attendees on a virtual journey through the proposed U.OP.
<p>
Chloe Brown: Repurposing the Cinesphere and Pods as the Great Lakes Institute
<p>
About IEEE<br>
IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity. Through its highly cited publications, conferences, technology standards, and professional and educational activities, IEEE is the trusted voice in a wide variety of areas ranging from aerospace systems, computers, and telecommunications to biomedical engineering, electric power, and consumer electronics. Learn more at https://www.ieee.org.
<p>
About Mersivity<br>
Mersivity represents a new era of immersive and submersive technology, allowing us to fully engage with virtual realms and natural elements without fear or restriction. Unlike traditional technology that can create barriers between us and nature, Mersivity encourages a harmonious relationship, enabling us to swim with our devices without damage, and thus fostering a deeper connection with our most valuable resource, water. This innovative approach challenges us to create and adopt technology that serves both humanity and the environment, crafting a future where technology enhances our lives without distancing us from the earth. Mersivity is not just a feature; it's a mandate for responsible and sustainable technological development.
<p>
About WaterHCI<br>
WaterHCI represents a pioneering exploration into the intersection between water, humans, and technology. It seeks to understand and harness the unique relationship we have with water, not just as a vital resource but as a medium for interaction and innovation. By studying how humans engage with water through technology, WaterHCI opens new avenues for design, sustainability, and human experience. It challenges conventional boundaries, creating opportunities for immersive experiences that connect us to our environment in profound ways. From water-based interfaces to ecological conservation, WaterHCI is at the forefront of a movement that reimagines how we live, work, and play with water, forging a future where technology is not just compatible with nature but an integral part of it.
<p>
  About U<sub>o</sub>OP<br>
  U<sub>o</sub>OP = University of Ontario Place is open to anyone regardless of physical or mental abilities.  The tuition is $0.
  The outdoor classroom, widely known as TeachBeach, offers lessons in Mersivity, WaterHCI, Physical Metaverse, Cold-Water Swimming, Wearable Computing / Wearable technologies,
  Hydraulophonics, and Physics (wave-mechanics, Fourier analysis, sound wave propagation, etc.), as well as labs in water-related topics.
</p>
<p>
Media Contact<br>
Name: Calum Leaver-Preyra
Email: calum.leaver-preyra@efreepr.com
-30-

