<h1><tt><strong>Club Activity 0</strong></tt></h1>

<h2>Mersivity Mind: Collaborative Neuro-Metaveillography and Metaveillogrammetry for diagnosis and rehabilitation.</h2>

<h3>Absract</h3>
<p>
    Mersivity is technology that connects us to each other and our surroundings.
    Applying this concept and philosophy, we postulate that neuro-metaveillography
    and metaveillogrammetry ("Eye as a quantigraphic camera") can be used
    collaboratively (i.e. through "cyborg collectives") for both diagnosis and
    rehabiltation.  Moreover, we "gamify" neuro-metaveillography/grammetry as a way
    to make this diagnosis and rehabilitation into a fun social activity, bringing
    about a social revolution in healthcare.  We begin by modifying a number of
    Muse brain-sensing headbands such as to attach a microcontroller and
    AI-based lock-in amplifier / SWIM (Sequential Wave Imprinting Machine) to
    each one, tapping directly into its inbuilt microprocessor, so as to implement
    the ACT (Adaptive Chirplet Transform) in hardware, facilitating realtime
    machine learning symbiosis.
    
    Our new spread-spectrum lock-in amplifier allows cognition to be visible
    instantaneously via the SWIM that wraps around the Muse headband, essentially
    putting "bands on the band" (i.e. spectral bands displayed upon the headband).
    
    Through the use of LLM (Large Language Models), combined with Random Forests
    and Bagged Trees, we achieve a system that can visualize cognition in real-time.
    
    This new LLM-based generalized (spread-spectrum) lock-in amplifier provides
    an unprecedented capacity to generate optimum chirplets that quickly lock-in
    on brainwave state-transitions and dynamic brainwave activity, creating the
    world's first real-time cognigraphic display for shared "mind games" (i.e.
    gamifying a deeper understanding of cognition).    
</p>  

<h3>Introduction</h3>
Neuro-Metaveillography/grammetry also known as Ayinography[Mann, S., Defaz, D., Pierce, C., Lam, D., Stairs, J., Hermandez, J., Li, Q., Xiang, Y.X., Kanaan, G., Chen, H. and Aylward, G., 2019, June. Keynote-eye itself as a camera: sensors, integrity, and trust. In The 5th ACM Workshop on Wearable Systems and Applications (pp. 1-2).]
[Mann, S., Feiner, S., Harner, S., Ali, M.A., Janzen, R., Hansen, J. and Baldassi, S., 2015, January. Wearable computing, 3d aug* reality, photographic/videographic gesture sensing, and veillance. In Proceedings of the Ninth International Conference on Tangible, Embedded, and Embodied Interaction (pp. 497-500).]
[Garcia, D.E., Zheng, K.W., Liu, Y., Tao, Y.S. and Mann, S., 2020, October. Painting with the eye: understanding the visual field of the human eye with SSVEP. In 2020 IEEE International Conference on Systems, Man, and Cybernetics (SMC) (pp. 3689-3694). IEEE.]
[Garcia, D.E., Liu, Y., Zheng, K.W., Tao, Y., Do, P.V., Pierce, C. and Mann, S., 2021. Interpreting the Visual Acuity of the Human Eye with Wearable EEG Device and SSVEP. In IoT Technologies for HealthCare: 7th EAI International Conference, HealthyIoT 2020, Viana do Castelo, Portugal, December 3, 2020, Proceedings 7 (pp. 77-92). Springer International Publishing.]
[Note to anyone: Cite the papers that cite the above 4 papers as well]
is a system that causes the eye itself to become a camera.  This gives us a mind's eye view which we now expand
upon as a general congnition / vision visualizer (metavisualizer) to make cognition visible.

Additionally we pair Ayinography with Optical coherence tomography (OCT) and optical coherence tomography
angiography (OCTA) so that each instance of the SWIMuse&trade; (the hardware platform) is tailored to its
specific wearer.

Moreover, we gamify the participation spaces, i.e. gamify LLM-based spread-spectrum lock-in amplfier-based
interaction, paired with technology that is both inward-sensing (invironment) and outward-sensing (environment) aware.
The Muse itself is ordinarily an inwards-sensing device, but by expanding its capability to SWIMuse,
it becomes an outwards-facing device as well, endowed with a connection to its environment (surroundings)
which thus embraces the overall philosophy of Mersivity.

Additionally, we equip SWIMuse with an outwards-facing camera.  To achieve
this feat in a small footprint, we chose to use the XIAO microcontroller with its microcamera interface.

In this way, we now have SWIMuse as a device that displays outwardly and senses outwardly,
resulting in a full bidirectional connection to the environment (surroundings).


<h3>Electrical Schematic (Muse hack):</h3>

<p>
    The image shows the wiring of a microcontroller connected to a Muse brain-sensing headband.
    The setup also includes an LED strip as the SWIM, with its 5V and Ground connected to the Arduino. 
    The signal wire of the LED strip is connected to one of the digital output pins of the Arduino.<br/>
    <img width=720 src="../figs/musehack_schematic.svg">
</p>

<h3>Showcase of the Activity:</h3>

</main>