* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

/* Create three equal columns that float next to each other */
.column {
  float: middle;
  width: 10%;
  padding-top:2rem;
}
.left.column {
  float: left;
  width: 40%;
  padding-left: 2rem;
}
.right.column {
  float: right;
  width: 60%;
  padding-right: 5rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 1000px) {
  .left.column {
    width: 100%;
  }
  .right.column{
    float: left;
    width: 50%
  }
}

body {
  font-family: "Courier New", monospace;
  height:100%;
  margin: 0;
  padding-bottom: 0;
  color: #333;
  line-height: 1.6;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(255, 238, 238));
}

ol {
  display: block; /* Ensures list takes full width */
  width: 100%;
}

small {
  font-size:0.7rem
}
.copyright{
  text-align: left;
  color: rgb(185, 185, 185);
  padding-right: 5rem;
  padding-left: 5rem;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #161616;
  text-align: left;
  color: white;
  padding-left: 4rem;
  padding-bottom: 1rem;
  clear: both;
  box-sizing: border-box; /* Ensure padding doesn't push footer beyond width */
}

.footer h2{
  font-size:1.5rem;
  background-color: #161616;
  text-align: left;
  color: white;
}

.header {
  background-color: #b9b9b9;
  text-align: center;
  color: white;
  padding: 5px;
  height:170px;
}

.header h2 {
  font-size: 2rem;
  margin: 0;
}

.g-recaptcha {
  display: inline-block;
}

li {
  float: left;
}

.active {
  float:left;
  background-color: #319934;
}

@media (max-width: 1080px) {
  .active {
    float:right;
  }
}

nav {
  list-style-type: none;
  display:flex;
  flex-wrap:wrap;
  height:auto;
  font-weight: bold;
  margin: 0;
  padding-left: 0rem;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
}

nav a:hover {
  background-color: rgb(39, 166, 188);
}

.gallery-container {
  column-count: 4; /* Default: 4 columns */
  column-gap: 2rem; /* Spacing between columns */
  padding-left: 1rem;
  padding-right: 2rem;
}

.two-colum-gallery-container {
  column-count: 2; /* Default: 4 columns */
  column-gap: 2rem; /* Spacing between columns */
  padding-left: 1rem;
  padding-right: 2rem;
}

.gallery-container {
  column-count: 4; /* Default: 4 columns */
  column-gap: 2rem; /* Spacing between columns */
  padding-left: 1rem;
  padding-right: 2rem;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

article {
  display: grid;
  grid-template-columns: 150px auto; /* Image on the left, text on the right */
  align-items: center;
  background: white;
  padding: 15px;
  border-left: 5px solid #000000;
  border-top: 5px solid #feebeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 15px;
}

.news-image {
  width: 100%;
  height: auto;
  max-width: 150px; /* Ensure images do not exceed the left column */
  border-radius: 5px;
}

.news-content {
  flex: 1;
}

/* Handle cases where no image is available */
article:not(:has(.news-image)) {
  grid-template-columns: auto;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  article {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .news-image {
      max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .gallery-container {
    column-count: 3; /* Reduce to 3 columns */
  }
}

@media (max-width: 900px) {
  .gallery-container {
    column-count: 2; /* Reduce to 2 columns */
  }
  .two-colum-gallery-container {
    column-count: 1;
  }
}

@media (max-width: 600px) {
  .gallery-container {
    column-count: 1; /* Stack items in 1 column */
  }
  article {
    flex-direction: column;
  }
  .news-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
  }
}

div.gallery {
  display: inline-block; /* Prevents breaking inside columns */
  width: 100%; /* Ensures images fill the column */
  margin-bottom: 10px; /* Avoids overlap */
  border: 0.1rem solid #ccc;
  padding: 0.4rem;
  text-align: center;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery:hover {
  border: 0.1rem solid #000000;
  background-color: #fee3e3;
}

div.desc {
  font-size: 0.8em; /* Relative to parent size */
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.full-screen-gallery {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: auto; /* Full viewport height */
  width: auto; /* Full viewport width */
  margin: 0;
  padding: 0;
}

.full-screen-gallery .gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-screen-gallery .gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.full-screen-gallery .desc {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  width: 100%;
  bottom: 0;
}

.full-screen-gallery .subtext {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  width: 100%;
  bottom: 0;
}


main {
  padding-top:0.5rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width:92%;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  color: #0a3e6e;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  margin-top: 1.9rem;
  color: #2c3e50;
}

p {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

figure {
  margin: 2rem 0;
}

figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

figure figcaption {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
  font-weight: bold;
}

.references {
  font-style: italic;
  word-break: break-word;
}

.references p {
  color: #0a3e6e;
  display: inline-block;
  max-width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 850px) {
  nav {
    position: relative;
    justify-content: left;
  }
  nav a {
    font-size: 0.9rem;
    padding: 3px 6px; /* Reduce padding further */
  }

  main {
    padding: 2.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1110px) {
  nav {
    justify-content: left; /* Keeps navigation links centered */
  }

  nav a {
    margin: 2px;
    font-size: 0.9rem;
    padding: 2px 5px; /* Further reduced padding */
  }

  main {
    padding: 1.75rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: row; /* Keeps navigation links in a row */
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  }
}

#title-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
  margin: 0; /* Ensure no margin around the banner */
  padding: 0; /* Remove padding inside the banner */
}

#title-banner img {
  width: 100%;
  height: auto;
  display: block; /* Ensures the image doesn't create extra space */
  margin: 0; /* Remove any margin from the image */
  padding: 0; /* Remove any padding from the image */
}
