body {
    background-color: #fff;
    font-family: serif;
    text-align: left;
}

.left-panel h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.top-banner {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-image: url('../art/banner.svg');
    margin: auto;
    filter: drop-shadow(0px 5px 5px);
}

.banner-logo {
    color: #d9f8f1;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding-left: 20px;
    position: left;
    display: inline-block;
    float: left;
}

.banner-button {
    color: #d9f8f1;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 14px 20px 14px 0px;
    display: inline-block;
    float: right;
}

.banner-button a:link, .banner-button a:visited{
    color: #ffffff;
    text-decoration: none;
}

.banner-button a:hover {
    color: #f74040;
    text-decoration: none;
}

.current a:link, .current a:visited {
    color: #f4635d;
    text-decoration: none;
}

.home {
    color: #f4635d;
}

.main {
    position: absolute;
    width: calc(100% - 400px);
    top: 50px;
    left: 400px;
    overflow: auto;
    padding-left: 10px;
}

.left-panel{
    display: inline-block;
    background-color: #eef8ff;
    width: 400px;
    position: fixed;
    left: 5px;
    top: 50px;
    bottom: 5px;
    height: calc(100vh - 50px);
    position: fixed;
    overflow:auto;
}

.logo {
    text-align: left;
    display: inline-flex;
    font-size: 14px;
    color: black;
    height: auto;
    width: 29%;
    padding: 0px 0px 0px 50px;
}

.water {
    padding-left: 40px;
    background-size: 40px;
    background-image: url('../art/water.svg');
    background-repeat: no-repeat;
    background-position: center left;
}

.computer {
    padding-left: 60px;
    background-size: 55px;
    background-image: url('../art/computer.svg');
    background-repeat: no-repeat;
    background-position: center left;
}

.human {
    padding-left: 55px;
    background-size: 55px;
    background-image: url('../art/human.svg');
    background-repeat: no-repeat;
    background-position: center left;
}

.graph {
}

.links {
    background-color: #fff;
    font-family: serif;
    text-align: left;
    margin-left: 50px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}
