<div id="container"></div>
<!-- <div id="notes">Still need to add label scaling, remove reference to window from textlabels.</div> -->
<script src="./js/three.js"></script><!--引入自己的three.js地址-->
<script src="https://r105.threejsfundamentals.org/threejs/resources/threejs/r105/js/controls/OrbitControls.js"></script>
    
<script>
    var starViewer = {

// variables
camera: false,
controls: false,
scene: false,
renderer: false,
container: false,
textlabels: [],

onReady: function() {
  this.scene = new THREE.Scene();

  this.renderer = new THREE.WebGLRenderer();
//   this.renderer.setClearColor(0x004477);
  this.renderer.setPixelRatio(window.devicePixelRatio);
  this.renderer.setSize(window.innerWidth, window.innerHeight);

  this.container.appendChild(this.renderer.domElement);

  this.camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 10000);
  this.camera.position.x = 50;
  this.camera.position.y = 50;
  this.camera.position.z = 50;

  this.controls = new THREE.OrbitControls(this.camera, this.renderer.domElement);
  this.controls.enableDamping = true;
  this.controls.dampingFactor =  0.25;
  this.controls.enableZoom = true;
  this.controls.enablePan = false;
  this.controls.enableKeys = false;
  
  // world
  var geometry = new THREE.CylinderGeometry(0, 10, 30, 4, 1);

    this.addNewReference(10, 10, 10, "SWIM", "http://wearcam.org/swim74/");
    this.addNewReference(30, -10, 27, "CLS pacemaker", "https://www.usms.org/fitness-and-training/articles-and-videos/articles/pacemakers-help-keep-the-beat-going-for-masters-swimmers");
    this.addNewReference(17, 0, 0, "Smart Beach Project", "https://www.cbc.ca/news/canada/windsor/university-of-windsor-researcher-beach-drowning-1.6373052");
    this.addNewReference(0, 35, 28, "Stanford Toilet", "https://med.stanford.edu/news/all-news/2020/04/smart-toilet-monitors-for-signs-of-disease.html");
    this.addNewReference(-34, 39, 38, "Monitoring drinking water quality", "https://ieeexplore.ieee.org/abstract/document/7193080");
    this.addNewReference(36, 24, 37, "Clairbuoyance", "https://dl.acm.org/doi/10.1145/3290605.3300467");
    this.addNewReference(35, 33, -27, "Hydraulophone flUId streams", "http://wearcam.org/hydraulophone/");
    // this.addNewReference(6, 4, 7, "Clairbuoyance", "https://dl.acm.org/doi/10.1145/3290605.3300467");

    var starsMaterial = new THREE.PointsMaterial( { color: 0x888888 } );
    var point = new THREE.Vector3(50,0,0);
    var point1 = new THREE.Vector3(-50,0,0);
    var starsGeometry1 = new THREE.Geometry();
    var line = starsGeometry1.vertices.push(point,point1);
    var line1 = new THREE.Line(starsGeometry1, starsMaterial);
    this.scene.add(line1);

    // text = this._createTextLabel();
    // text.setHTML("Water, Human amd Tech apart");
    // text.setParent(line1);
    // this.textlabels.push(text);
    // this.container.appendChild(text.element);

    var point = new THREE.Vector3(0,50,0);
    var point1 = new THREE.Vector3(0,-50,0);
    var starsGeometry1 = new THREE.Geometry();
    var line = starsGeometry1.vertices.push(point,point1);
    var line1 = new THREE.Line(starsGeometry1, starsMaterial);
    this.scene.add(line1);

    var plane = new THREE.Mesh( new THREE.PlaneGeometry( 100, 100 ), new THREE.MeshBasicMaterial( {
      color: 0xFF0000, //red
      transparent:true,
      opacity:0.15,
      side: THREE.DoubleSide
    } ) );
    this.scene.add( plane );

    this.addPlaneName(45, 45, 0, "Human Plane", "#FF0000");
    this.addPlaneName(0, 45, 45, "Tech Plane", "#00FF00"); // blue
    this.addPlaneName(45, 0, 45, "Water Plane", "#0000FF"); // green
    var point = new THREE.Vector3(0,0,50);
    var point1 = new THREE.Vector3(0,0,-50);
    var starsGeometry1 = new THREE.Geometry();
    var line = starsGeometry1.vertices.push(point,point1);
    var line1 = new THREE.Line(starsGeometry1, starsMaterial);
    this.scene.add(line1);

    plane = new THREE.Mesh( new THREE.PlaneGeometry( 100, 100 ), new THREE.MeshBasicMaterial( {
      color: 0x0000FF, 
      transparent:true,
      opacity:0.15,
      side: THREE.DoubleSide
    } ) );
    plane.rotation.x = Math.PI / 2;
    this.scene.add( plane );


    plane = new THREE.Mesh( new THREE.PlaneGeometry( 100, 100 ), new THREE.MeshBasicMaterial( {
      color: 0x00FF00, 
      transparent:true,
      opacity:0.15,
      side: THREE.DoubleSide
    } ) );
    plane.rotation.y = Math.PI / 2;
    this.scene.add( plane );
    geometry = new THREE.ConeGeometry( 1, 5, 50);
    var material = new THREE.MeshBasicMaterial( {color: 0xF25A0F} );
    
    var cone = new THREE.Mesh( geometry, material );
    cone.rotation.x = Math.PI / 2;
    cone.rotation.z = Math.PI / 2;
    cone.rotation.y = Math.PI / 2 * 3;
    cone.position.y = 50;
    this.scene.add( cone );

    var cube = new THREE.Mesh(new THREE.CubeGeometry(4, 4, 4),
      new THREE.MeshBasicMaterial({
        transparent:true,
        opacity:0.3,
        color:0x00FF00
      })
    );
    cube.position.set(4,45,4);
    this.scene.add(cube);

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(2, 40, 40),
      new THREE.MeshBasicMaterial({
        color:0xFF0000
      })
    );
    sphere.position.set(4,45,4);
    this.scene.add(sphere);

    var cone = new THREE.Mesh( geometry, material );
    cone.rotation.x = Math.PI / 2;
    cone.rotation.z = Math.PI / 2 * 3;
    cone.rotation.y = Math.PI / 2 * 3;
    cone.position.y = -50;
    this.scene.add( cone );

    var cube = new THREE.Mesh(new THREE.CubeGeometry(4, 4, 4),
      new THREE.MeshBasicMaterial({
        // transparent:true,
        // opacity:0.6,
        color:0x00FF00
      })
    );
    cube.position.set(4,-45,4);
    this.scene.add(cube);

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(4, 40, 40),
      new THREE.MeshBasicMaterial({
        transparent:true,
        opacity:0.3,
        color:0xFF0000
      })
    );
    sphere.position.set(4,-45,4);
    this.scene.add(sphere);

    cone = new THREE.Mesh( geometry, material );
    cone.rotation.z = Math.PI / 2;
    cone.rotation.y = Math.PI ;
    cone.position.x = 50;
    this.scene.add( cone );

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(1.5, 40, 40),
      new THREE.MeshBasicMaterial({
        // transparent:true,
        // opacity:0.6,
        color:0xFF0000
      })
    );
    sphere.position.set(45,2,4);
    this.scene.add(sphere);

    var cone = new THREE.Mesh(new THREE.ConeGeometry( 2, 3, 20), new THREE.MeshBasicMaterial( {
        transparent:true,
        opacity:0.3,
      color: 0x0000FF
    } ) );
    cone.position.set(45,4,4);
    this.scene.add( cone );

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(2, 40, 40),
      new THREE.MeshBasicMaterial({
        transparent:true,
        opacity:0.3,
        color:0x0000FF
      })
    );
    sphere.position.set(45,2,4);
    this.scene.add( sphere );

    cone = new THREE.Mesh( geometry, material );
    cone.rotation.z = Math.PI / 2 * 3;
    cone.rotation.y = Math.PI ;
    cone.position.x = -50;
    this.scene.add( cone );

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(4, 40, 40),
      new THREE.MeshBasicMaterial({
        transparent:true,
        opacity:0.3,
        color:0xFF0000
      })
    );
    sphere.position.set(-45,4,4);
    this.scene.add(sphere);

    var cone = new THREE.Mesh(new THREE.ConeGeometry( 2, 3, 20), new THREE.MeshBasicMaterial( {
        // transparent:true,
        // opacity:0.5,
      color: 0x0000FF
    } ) );
    cone.position.set(-45,4,4);
    this.scene.add( cone );

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(2, 40, 40),
      new THREE.MeshBasicMaterial({
        // transparent:true,
        // opacity:0.5,
        color:0x0000FF
      })
    );
    sphere.position.set(-45,2,4);
    this.scene.add( sphere );

    cone = new THREE.Mesh( geometry, material );
    cone.rotation.z = Math.PI / 2;
    cone.rotation.y = Math.PI /2 * 3;
    cone.position.z = -50;
    this.scene.add( cone );   

    var cube = new THREE.Mesh(new THREE.CubeGeometry(5, 6, 5),
      new THREE.MeshBasicMaterial({
        transparent:true,
        opacity:0.3,
        color:0x00FF00
      })
    );
    cube.position.set(4,3,-45);
    this.scene.add(cube); 

    var cone = new THREE.Mesh(new THREE.ConeGeometry( 2, 3, 15), new THREE.MeshBasicMaterial( {
        // transparent:true,
        // opacity:0.5,
      color: 0x0000FF
    } ) );
    cone.position.set(4,4,-45);
    this.scene.add( cone );

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(2, 40, 40),
      new THREE.MeshBasicMaterial({
        // transparent:true,
        // opacity:0.5,
        color:0x0000FF
      })
    );
    sphere.position.set(4,2,-45);
    this.scene.add( sphere );

    cone = new THREE.Mesh( geometry, material );
    cone.rotation.z = Math.PI / 2 * 3;
    cone.rotation.y = Math.PI /2 * 3;
    cone.position.z = 50;
    this.scene.add( cone );

    var cube = new THREE.Mesh(new THREE.CubeGeometry(2, 2, 2),
      new THREE.MeshBasicMaterial({
        // transparent:true,
        // opacity:0.3,
        color:0x00FF00
      })
    );
    cube.position.set(4,2,45);
    this.scene.add(cube);

    var cone = new THREE.Mesh(new THREE.ConeGeometry( 2, 3, 20), new THREE.MeshBasicMaterial( {
        transparent:true,
        opacity:0.3,
      color: 0x0000FF
    } ) );
    cone.position.set(4,4,45);
    this.scene.add( cone );

    var sphere = new THREE.Mesh(new THREE.SphereGeometry(2, 40, 40),
      new THREE.MeshBasicMaterial({
        transparent:true,
        opacity:0.3,
        color:0x0000FF
      })
    );
    sphere.position.set(4,2,45);
    this.scene.add( sphere );

    var axeshelper = new THREE.AxesHelper(5);
// axesHelper.rotation.y -=0.01; //围绕坐标轴旋转
    this.scene.add(axeshelper)
    
    // text = this._createTextLabel();
    // text.setHTML("Water-tech Closeness");
    // text.setParent(cone);
    // this.textlabels.push(text);
    // this.container.appendChild(text.element);

    // text = this._createTextLabel();
    // text.setHTML("Water-human Closeness");
    // text.setParent(cone);
    // this.textlabels.push(text);
    // this.container.appendChild(text.element);

    // text = this._createTextLabel();
    // text.setHTML("Human-tech Closeness");
    // text.setParent(cone);
    // this.textlabels.push(text);
    // this.container.appendChild(text.element);
  //
  // animate
  //
  
  var _this = this;
  var animate = function() {
    requestAnimationFrame(animate);
    _this.controls.update();
    _this._render();
  }
  animate();
},

addNewArrow: function(x, y, z, delta) {
  geometry = new THREE.ConeGeometry( 1, 5, 50);
    const material = new THREE.MeshBasicMaterial( {color: 0xff0000} );
    var cone = new THREE.Mesh( geometry, material );
    cone.rotation.x = Math.PI / 2;
    cone.rotation.z = Math.PI / 2;
    cone.rotation.y = Math.PI / 2 * 3;
    cone.position.y = 50;
    this.scene.add( cone );
},

addNewReference: function(x, y, z, name, url) {
  var mesh = new THREE.Mesh(
        new THREE.SphereGeometry(0.5,1,1),
        new THREE.MeshBasicMaterial({
            color: 0xD2691E,
            opacity: 0.5
        })
        );
    mesh.position.x = x;
    mesh.position.y = y;
    mesh.position.z = z;
    mesh.updateMatrix();
    mesh.matrixAutoUpdate = false;
    this.scene.add(mesh);
    
    var text = this._createTextLabel("#FFFFFF", 'medium');
    text.setHTML(name);
    text.setParent(mesh);
    text.element.addEventListener('click', function() {
    location.href = url
}, false);
    this.textlabels.push(text);
    this.container.appendChild(text.element);
},

addPlaneName: function(x, y, z, name, color) {
  var mesh = new THREE.Mesh(
        new THREE.SphereGeometry(0.5,1,1),
        new THREE.MeshBasicMaterial({
            color: 0xD2691E,
            transparent:true,
            opacity: 0
        })
        );
    mesh.position.x = x;
    mesh.position.y = y;
    mesh.position.z = z;
    mesh.updateMatrix();
    mesh.matrixAutoUpdate = false;
    this.scene.add(mesh);
    
    var text = this._createTextLabel(color, 'large');
    text.setHTML(name);
    text.setParent(mesh);
    text.element.addEventListener('click', function() {
    location.href = url
}, false);
    this.textlabels.push(text);
    this.container.appendChild(text.element);
},

onResize: function() {
  this.camera.aspect = window.innerWidth / window.innerHeight;
  this.camera.updateProjectionMatrix();
  this.renderer.setSize(window.innerWidth, window.innerHeight);
},

_render: function() {
  for(var i=0; i<this.textlabels.length; i++) {
    this.textlabels[i].updatePosition();
  }
  this.renderer.render(this.scene, this.camera);
},

_createTextLabel: function(color, fontSize) {
  var div = document.createElement('div');
  div.className = 'text-label';
  div.style.position = 'absolute';
  div.style.width = 100;
  div.style.height = 100;
  div.style.fontSize = fontSize;
  // div.style.color = "#FFFFFF";
  div.style.color = color;
  div.innerHTML = "hi there!";
  div.style.top = -1000;
  div.style.left = -1000;
  
  var _this = this;
  
  return {
    element: div,
    parent: false,
    position: new THREE.Vector3(0,0,0),
    setHTML: function(html) {
      this.element.innerHTML = html;
    },
    setParent: function(threejsobj) {
      this.parent = threejsobj;
    },
    updatePosition: function() {
      if(parent) {
        this.position.copy(this.parent.position);
      }
      
      var coords2d = this.get2DCoords(this.position, _this.camera);
      this.element.style.left = coords2d.x + 'px';
      this.element.style.top = coords2d.y + 'px';
    },
    get2DCoords: function(position, camera) {
      var vector = position.project(camera);
      vector.x = (vector.x + 1)/2 * window.innerWidth;
      vector.y = -(vector.y - 1)/2 * window.innerHeight;
      return vector;
    }
  };
}
};

starViewer.container = document.getElementById('container');
starViewer.onReady();
window.addEventListener('resize', function() {
starViewer.onResize();
}, false);
</script>
